# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.local
.env.*.local

# IDE
.tanstack/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
*.log
*.db
storage/
# Drizzle
drizzle/meta/

# Ai
prompts.md
changes*  